# --- NetBeans Build & Temp Directories ---
/build/
/dist/
/nbproject/private/
/nbproject/build-impl.xml
/nbproject/genfiles.properties

# --- OS Specific Files ---
.DS_Store
Thumbs.db

git rm -r --cached build/
git rm -r --cached dist/
git rm -r --cached nbproject/private/